beautifulsoup4>=4.11.2
certifi>=2019.9.11
chardet>=3.0.4
Click>=7.0
elasticsearch==7.11.0
flask>=2.2.3
flask-sqlalchemy>=3.0.3
flask-Cors>=3.0.8
flask-WTF>=1.0.1
idna>=2.8
itsdangerous>=1.1.0
Jinja2>=3.1.2
json2html>=1.3.0
MarkupSafe>=2.0.1
ray>=0.8.7
requests>=2.22.0
six>=1.12.0
urllib3>=1.25.6
Werkzeug==3.0.1
WTForms>=2.2.1
sqlalchemy>=1.3.9
flask_redis>=0.4.0
psycopg2-binary>=2.8.6
pandas>=1.0.5
