hr.major {
    border: 4px solid #1862a1;
    background-color: #1862a1;
    border-radius: 2px;
}
::-webkit-scrollbar {
    width: 12px !important;
    height: 8px !important;
 }

 /* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

 /* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #1862a1 !important; 
   -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2) !important; 

 }
::-webkit-scrollbar-thumb:window-inactive {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #1862a1 !important; 
 }
.innerbar {
    height:3px;
    border-width:0;
    color:white;
    background-color:gray;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 20px;
  text-align: center;
  border-bottom: none;
  border-top: none;
  border-right: none;
}
.navbar {
  overflow: hidden;
  background-color: #555;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
}
/*basically makes the underline*/
.hasTooltip {
  border-bottom: black dotted 1px; /*optional styling*/
  position: relative;
  cursor: help;
}
/*makes tip invisible inline.*/
.hasTooltip span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 3px;
}
/*this is how the text box gets there*/
.hasTooltip:hover span {
  position: absolute;
  top: 1.7em;
  left: 0%;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 1px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  white-space: wrap;
  min-width: 200px;
  z-index: 100;
}
/*this is how the little arrow gets there*/
.hasTooltip:hover::after {
  content: '';
  position: relative;
  top: 1em;
  left: 2px;
  display: inline;
  color: #fff;
  border: 3px solid transparent;    
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #000;
}
mark.term {
  color: rgba(255,255,255,1);
  background: #67a9cf;
}
mark.negated {
  color: rgba(255,255,255,1);
  background: #ef8a62;
}
.box-highlight {
    padding: 5px;
    border: 3px solid #222222;
    margin: 20px 0;
    background: rgba(150,150,150,1);
    color: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
}
body {
  padding-top: 100px;
}
table {
    width: 95% !important;
    table-layout: fixed !important;
}
nav li {
  padding: 4px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
.nav-item > a.active {
  color:black;
  background-color:white;
}
.nav-item {
    text-align: right;
    font-size: 1.3em; !important
}
.navbar-collapse.show {
    padding: 10px 10px;
    background:#555;
    width: -webkit-fit-content;
    float: right;
    text-align:right;
}
