{% extends "layout.html" %}

{% block content %}


{#<h1>print</h1>#}

<div class="container" >
    <br><br>
    Here are the related genes referenced from <a target="_blank" href="https://www.apexbt.com">APEx Bio</a>:
	<br><br>
    {% if apex %}
        <table id="apex" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
            <td>Drugs</td>
            </tr>
            </thead>
            <tbody>
            {% for item in apex %}
                <tr>
                    <td><a target="_blank" href={{item[0]}}>{{item[1]}}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results.
    {% endif %}
    
</div>

<!-- make nice table with multiple pages -->
<script type="text/javascript">
        $(document).ready(function () {
                $('#apex').DataTable({
                        "order": [[ 0, "asc" ]],
                        "pageLength": 5,
                        "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
                });
        });

</script>

{% endblock %}
