{% extends "layout.html" %}

{% block content %}

<div class="container" id="bar">

<h2 style="text-align: center; margin-top: 80px; font-family:'Roboto', sans-serif;"><i class="material-icons" style="vertical-align: bottom; font-size:38px;">assessment</i>COHD Results</h2>
<p style="text-align: center;">These are the co-occurrence data and ancestor term data for your search term in patient notes. There will be explanations in each section. Note that you can hover over text with a dotted underline <a class="hasTooltip">to learn more about it<span>For example, like this!</span></a>.<br>It is important to note that this data uses the temporal beta dataset (id 4) which has ~4.5 million (4536187) patients currently. If a term occurs in a patient note at all, it is only counted once for the patient.  Not multiple times.</p>
<hr>
</div>

<div class="container" id="Ancestor Terms">
    <h1><span style="color: #efa50e; "><b>Ancestor Terms</b></span></h1>
    <span style="color: black; ">These are ancestor terms from <a target="_blank" href="http://cohd.io/index.html"> Columbia Open Health Data (COHD)</a>, for the selected concept, sorted by patient count:</span>
    <br><br>
    {% if ancestors %}
        <table id="ancestors" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["COHDA"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in ancestors %}
                <tr>
                    <td>{{result["concept_name"]}}</td>
                    <td>{{result["ancestor_concept_id"]}}</td>
                    <td>{{result["concept_count"]}}</td>
                    <td>{{result["vocabulary_id"]}}</td>
                    <td>{{result["domain_id"]}}</td>
                    <td>{{result["concept_class_id"]}}</td>
                    <td>{{result["concept_code"]}}</td>
                    <td>{{result["standard_concept"]}}</td>
                    <td>{{result["max_levels_of_separation"]}}</td>
                    <td>{{result["min_levels_of_separation"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the concept's ancestors in COHD.
    {% endif %}

</div>

<div class="container" id="bar" >
<hr>
</div>

<div class="container" id="Conditions in Co-occurrence">
    <h1><span style="color: #efa50e; "><b>Conditions Co-occurring</b></span></h1>
    <span style="color: black; ">These are conditions from <a target="_blank" href="http://cohd.io/index.html"> Columbia Open Health Data (COHD)</a>, that are sorted by the significant of their cooccurence with the selected concept, sorted by significance:</span>
    <br><br>
    {% if conditions %}
        <table id="conditions" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["COHDC"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in conditions %}
                <tr>
                    <td>{{result["concept_2_name"]}}</td>
                    <td>{{result["concept_2_domain"]}}</td>
                    <td>{{result["concept_id_2"]}}</td>
                    <td>{{result["chi_square"]}}</td>
                    <td>{{result["p-value"]}}</td>
                    <td>{{result["adj_p-value"]}}</td>
                    <td>{{result["concept_id_1"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the concept's co-occurring conditions in COHD.
    {% endif %}

</div>


<div class="container" id="bar" >
<hr>
</div>

<div class="container" id="Drugs in Co-occurrence">
    <h1><span style="color: #efa50e; "><b>Drugs Co-occurring</b></span></h1>
    <span style="color: black; ">These are drugs from <a target="_blank" href="http://cohd.io/index.html"> Columbia Open Health Data (COHD)</a>, that are sorted by the significant of their cooccurence with the selected concept, sorted by significance:</span>
    <br><br>
    {% if drugs %}
        <table id="drugs" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["COHDC"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in drugs %}
                <tr>
                    <td>{{result["concept_2_name"]}}</td>
                    <td>{{result["concept_2_domain"]}}</td>
                    <td>{{result["concept_id_2"]}}</td>
                    <td>{{result["chi_square"]}}</td>
                    <td>{{result["p-value"]}}</td>
                    <td>{{result["adj_p-value"]}}</td>
                    <td>{{result["concept_id_1"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the concept's co-occurring drugs in COHD.
    {% endif %}

</div>

<div class="container" id="bar" >
<hr>
</div>

<div class="container" id="Procedures in Co-occurrence">
    <h1><span style="color: #efa50e; "><b>Procedures Co-occurring</b></span></h1>
    <span style="color: black; ">These are procedures from <a target="_blank" href="http://cohd.io/index.html"> Columbia Open Health Data (COHD)</a>, that are sorted by the significant of their cooccurence with the selected concept, sorted by significance:</span>
    <br><br>
    {% if procedures %}
        <table id="procedures" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["COHDC"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in procedures %}
                <tr>
                    <td>{{result["concept_2_name"]}}</td>
                    <td>{{result["concept_2_domain"]}}</td>
                    <td>{{result["concept_id_2"]}}</td>
                    <td>{{result["chi_square"]}}</td>
                    <td>{{result["p-value"]}}</td>
                    <td>{{result["adj_p-value"]}}</td>
                    <td>{{result["concept_id_1"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the concept's co-occurring procedures in COHD.
    {% endif %}

</div>

<!-- make nice table with multiple pages -->
<script type="text/javascript">
        $(document).ready(function () {
                $('#ancestors').DataTable({
                        "order": [[ 2, "desc" ]],
                        "pageLength": 5,
                        "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
                });
                $('#conditions, #procedures, #drugs').DataTable({
                        "order": [[ 3, "desc" ]],
                        "pageLength": 5,
                        "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
                });
        });

</script>

{% endblock %}
                  
