{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4"><b><i class="material-icons" style="font-size: 40px">book</i>PhenCards</b></h1>
	<p class="lead">PhenCards is a real-time phenotype-based information search engine.</p>
</div>

<div class="container">
	<form action="{{ url_for('phen2Gene') }}" method="post" ENCTYPE="multipart/form-data" role="form" >
		<hr class="my-4">

		<!-- text box to enter HPO IDs -->
		<div class="form-group" id="manual">
			<span style="display: inline;">
			<h3><i class="material-icons">book</i>Enter you want to search for here:</h3>
		    </span>
			<textarea class="form-control" name="HPO_list" id="HPO_list" rows="4" placeholder="e.g. cleft palate (Search by Phenotype Name)"></textarea>
			<span class="form-text text-muted">Please enter your focused phenotype names / external database ID.</span>
		</div> 

		<!-- text box to enter patient description -->
		<div class="form-group" id="doc2hpo" style="display:none;">
			<h3><i class="material-icons">assignment</i>Patient Description</h3>
			<textarea class="form-control" name="doc2hpo_notes" id="doc2hpo_notes" rows="10" placeholder=""></textarea>
			<span class="form-text text-muted">Please enter which category are you searching for:</span>
		</div> 

{#		<!-- weight model dropdown -->#}
{#		<div class="form-group">#}
{#			<h3><i class="material-icons">fitness_center</i>Input Type</h3>#}
{#			<select class="form-control" name="weight_model" id="weight_model">#}
{#				<option value="pn">HPO Name/Phenotype/Concept Name (support partial string) </option>#}
{#                <option value="hpo">ID Search (OMIM/HPO/ICD/UMLS,etc)  </option>#}
{#			</select>#}
{#		</div>#}

		<!-- submit and reset buttons -->
		<div class="form-group">

			{{ form.csrf_token }}

				<button type="reset" class="btn btn-success" style="margin-right: 16px"><i class="material-icons" style="font-size: 16px">redo</i>Reset</button>
				<button type="submit" class="btn btn-info" name="weight_model" value="pn"><i class="material-icons" style="font-size: 16px">send</i>Search for Concept Name</button>
                <button type="submit" class="btn btn-info" name="weight_model" value="hpo"><i class="material-icons" style="font-size: 16px">send</i>Search for Database ID</button>
		</div>    



		<input type="hidden" value="<?php echo $_SERVER['REMOTE_ADDR']; ?>" name="ip" />
		<input type="hidden" value="<?php echo GetHostByAddr($_SERVER['REMOTE_ADDR']); ?>" name="host" />
	</form> 
</div>
{% endblock %}

{% block scripts %}
<!-- toggle between manual HPO ids and using doc2hpo -->
<script type="text/javascript">
	$(function () {
		$("#doc2hpo_check").click(function () {
			if ($(this).is(":checked")) {
				$("#doc2hpo").show();
				$("#manual").hide();
			} else {
				$("#doc2hpo").hide();
				$("#manual").show();
			}
		});
	});
</script>
{% endblock %}