{% extends "layout.html" %}

{% block content %}


{#<h1>print</h1>#}

<div class="container" >
    <br>
    <tr><th><span style="color: black; ">Here are the top 25 PubMed results based on citations in PubMed, after a 200 article snapshot from <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/help/#best-match-algorithm">Best Match algorithm sort using MeSH terms</a>, based on this query.  This takes a little while (~30 sec) because NCBI limits query rate.</span></th></tr>
    <br><br>
    {% if pubmed %}
        <table id="pubmed-table" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
            <td>PubMed ID</td>
            <td>Publication Information</td>
            <td>Times cited in PubMed</td>
            </tr>
            </thead>
            <tbody>
            {% for id in pubmed %}
                <tr>
                    <td><a href={{ ''.join(['https://pubmed.ncbi.nlm.nih.gov/',id]) }}>PMID: {{id}}</a></td>
                    <td>{{pubmed[id][0]}}</td>
                    <td>{{pubmed[id][1]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the search term.
    {% endif %}

</div>

<!-- make nice table with multiple pages -->
<script type="text/javascript">
        $(document).ready(function () {
                $('#pubmed-table').DataTable({
                        "order": [[ 2, "desc" ]],
                        "pageLength": 5,
                        "lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
                });
        });

</script>

{% endblock %}
                  
