{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
	<h2 class="display-4"><i class="material-icons" style="font-size: 48px">assessment</i>Results </h1>
    <p class="lead">Please export the results to see all the relative database results.</p>
	<a href="{{ url_for('phencards') }}"><button type="button" class="btn btn-success" style="margin-right: 15px"><i class="material-icons" style="font-size: 16px;">redo</i>Re-analyze</button></a>

	<a data-toggle="modal" data-target="#export-data"><button type="button" class="btn btn-info"><i class="material-icons" style="font-size: 16px">cloud_download</i>Export</button></a>
</div>

<div class="modal" tabindex="-1" role="dialog" id="export-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Export Results</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<a href="{{url_for('download_json') }}"><button class='btn btn-primary'>JSON</button></a>
			</div>
		</div>
	</div>
</div>


<head>
<style>
h1 {
  display: inline;
  margin-bottom: 1em;
  text-align: left;
  color: #efa50e;
  font-size: 35px;
}
table, th, td {
  border: 2px #4b873f;
  border-collapse: collapse;
}
th {
  padding: 2px;
  text-align: center;
}
</style>
</head>

{% block nav %}
    <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
        <ul class="navbar-nav ml-auto small">
          <li class="nav-item active"><a class="page-scroll scroll" href="#Patient_Results">HPO terms</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Diseases">Diseases</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Genes">Genes</a></li>
        </ul>
        <ul class="navbar-nav flex-row ml-auto small">
          <li class="nav-item"><a class="page-scroll scroll" href="#Clinical_Trials">Clinical Trials</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Literature">Literature</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Citations_n_Licenses">Citations & Licenses</a></li>
        </ul>
</div>
</nav>

{% endblock %}

<div class="container" id="bar">
<hr>
</div>

<div class="container" id="Patient_Results">	
	<h1><span style="color: #efa50e; "><b>HPO terms</b></span></h1>
	<div class="ui basic segment">
		<p id="parsingResults" style="white-space: pre-wrap">Pellentesque
			habitant morbi tristique senectus et netus et malesuada fames ac
			turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
			eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
			semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
			leo.</p>
	</div>
    <br><br>
    <tr><th><span style="color: black; ">Here are the aliases referenced from <a href="https://hpo.jax.org/app/">HPO database</a> using Doc2HPO<sup><a href="#doc2hpo-cite">1</a></sup>, you can click on the result to explore more about the phenotype names:</span></th></tr>
    {{ patient_table|safe }}

</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container" id="Genes">
    <h1><span style="color: #efa50e; "><b>Genes</b></span></h1>
    <br><br>
    <tr><th><span style="color: black; ">Here are the related genes referenced from <a href="https://phen2gene.wglab.org">Phen2Gene web application</a><sup><a href="#p2g-cite">2</a></sup>:</span></th></tr>
    {{ phen2gene_table|safe }}
    <br><br>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container" id="Clinical_Trials">
    <h1><span style="color: #efa50e; "><b>Clinical Trials</b></span></h1>
    <br><br>
    <a target="_blank" id="nav-clinical" href="{{ url_for('generate_clinical_page') }}" style="font-size: 25px">ClinicalTrials.gov</a><sup><a href="#clinical-cite">3</a></sup>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container" id="Citations_n_Licenses">
    <h1><span style="color: #efa50e; "><b>Citations & Licenses</b></span></h1>
    <br><br>
    <ol style="list-style-type: numeric">
    <li id="doc2hpo-cite">Doc2HPO natural language processing resource. This is <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>. <u>Citation</u>: Liu C., Peres Kury F. S., Li Z., Ta C., Wang K., & Weng C. (2019). Doc2Hpo: a web application for efficient and accurate HPO concept curation. Nucleic Acids Research, 47(W1), W566–W570. doi:10.1093/nar/gkz386.</li>
    <li id="p2g-cite">Phen2Gene and the H2GKB resources. This is <a target="_blank" href="https://github.com/WGLab/Phen2Gene/blob/master/LICENSE">MIT license</a>. <u>Citation</u>: Zhao M., Havrilla J. M., Fang L., Chen Y., Peng J., Liu C., Wu C., Sarmady M., Botas P., Isla J., Lyon G., Weng C., Wang K. (2020). Phen2Gene: Rapid Phenotype-Driven Gene Prioritization for Rare Diseases. NAR Genomics and Bioinformatics, 2(2), lqaa032. doi:10.1093/nargab/lqaa032.</li>
    <li id="clinical-cite">ClinicalTrials.gov. This is public domain, courtesy of the U.S. National Library of Medicine.</li>
    <li id="pubmed-cite">The PubMed database. This is public domain. <u>Citation</u>: Sayers E. The E-utilities In-Depth: Parameters, Syntax and More. 2009 May 29 [Updated 2018 Oct 24]. In: Entrez Programming Utilities Help [Internet]. Bethesda (MD): National Center for Biotechnology Information (US); 2010-. Available from: https://www.ncbi.nlm.nih.gov/books/NBK25499/.</li>
    </ol>
</div>
<br>

<div class="container" >

	<!-- error/warning messages -->
	<div>
		<ul id="error-messages" role="alert">
			{% for e in errors %}
			<li>{{ e }}</li>
			{% endfor %}
		</ul>
	</div>

	<!-- make error/warning messages yellow if any exist -->
	<script type="text/javascript">
		$("#error-messages").each(function() {
			if($(this).children().length > 0) {
				$(this).addClass("alert alert-warning");
			}
		});
	</script>

</div>


{% endblock %}

{% block scripts %}
<!-- make nice table with multiple pages -->
<script type="text/javascript">
	$(document).ready(function () {
		var json = {{ json | tojson }};
		var note = {{ note | tojson }};
		console.log(json);
		console.log(note);
		highlight(note,json);
	  	//$('#results-table1, #results-table2OMIM, #results-table2D, #results-table2OR, #results-table3, #results-gene-api, #results-umls, #results-snomed, #results-drugs').DataTable({
	  	$('#doc2hpo-results, #phen2gene-api').DataTable({
	  		"order": [[ 1, "asc" ]],
	  		"pageLength": 5,
	  		"lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
	  	});
	  	$('#clinical-results').DataTable({
	  		"order": [[ 0, "asc" ]],
	  		"pageLength": 5,
	  		"lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
	  	});
	});
</script>
{% endblock %}
