{% extends "layout.html" %}

{% block content %}

<head>
<style>
h1 {
  display: inline;
  margin-bottom: 1em;
  text-align: left;
  color: #efa50e;
  font-size: 35px;
}
table, th, td {
  border: 2px #4b873f;
  border-collapse: collapse;
}
th {
  padding: 2px;
  text-align: center;
}
.navbar-dark .nav-item > a.active {
  color:black;
  background-color:white;
}
.navbar-nav {
  display:flex;
}
</style>
</head>

{% block nav %}
<div class="collapse navbar-collapse flex-column sticky-top bg-dark" id="navbarcon">
    <div class="flex-row" id="navbartop">
        <ul class="navbar-nav mr-auto medium">
          <li class="nav-item active"><a class="page-scroll scroll active" href="#Patient_Terms">HPO terms</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Diseases">Diseases</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Genes">Genes</a></li>
        </ul>
    </div>
    <div class="flex-row" id="navbarbottom">
        <ul class="navbar-nav mr-auto medium">
          <li class="nav-item"><a class="page-scroll scroll" href="#Clinical_Trials">Clinical Trials</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Literature">Literature</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Citations_n_Licenses">Citations & Licenses</a></li>
        </ul>
    </div>
</div>
</nav>

{% endblock %}

<div class="container" id="bar">

<h2 style="text-align: center; margin-top: 80px; font-family:'Roboto', sans-serif;"><i class="material-icons" style="vertical-align: bottom; font-size:38px;">assessment</i>Patient Results</h2>
<hr>
</div>

<div class="container medium" id="Patient_Terms">
    <h1><span style="color: #efa50e; "><b>HPO terms</b></span></h1>
	<div class="ui basic segment">
		<p id="parsingResults" style="white-space: pre-wrap">Pellentesque
			habitant morbi tristique senectus et netus et malesuada fames ac
			turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
			eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
			semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
			leo.</p>
	</div>
    <br><br>
    <tr><th><span style="color: black; ">Here are the aliases referenced from <a href="https://hpo.jax.org/app/">HPO database</a> using Doc2HPO<sup><a href="#doc2hpo-cite">1</a></sup>, you can click on the result to explore more about the phenotype names:</span></th></tr>
    {{ patient_table|safe }}

</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Genes">
    <h1><span style="color: #efa50e; "><b>Genes</b></span></h1>
    <br><br>
    <tr><th><span style="color: black; ">Here are the related genes referenced from <a href="https://phen2gene.wglab.org">Phen2Gene web application</a><sup><a href="#p2g-cite">2</a></sup>:</span></th></tr>
    {{ phen2gene_table|safe }}
    <br><br>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Clinical_Trials">
    <h1><span style="color: #efa50e; "><b>Clinical Trials</b></span></h1>
    <br><br>
    <a target="_blank" id="nav-clinical" href="{{ url_for('generate_clinical_page') }}" style="font-size: 25px">ClinicalTrials.gov</a><sup><a href="#clinical-cite">3</a></sup>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Citations_n_Licenses">
    <h1><span style="color: #efa50e; "><b>Citations & Licenses</b></span></h1>
    <br><br>
    <ol style="list-style-type: numeric">
    <li id="doc2hpo-cite">Doc2HPO natural language processing resource. This is <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>. <u>Citation</u>: Liu C., Peres Kury F. S., Li Z., Ta C., Wang K., & Weng C. (2019). Doc2Hpo: a web application for efficient and accurate HPO concept curation. Nucleic Acids Research, 47(W1), W566–W570. doi:10.1093/nar/gkz386.</li>
    <li id="p2g-cite">Phen2Gene and the H2GKB resources. This is <a target="_blank" href="https://github.com/WGLab/Phen2Gene/blob/master/LICENSE">MIT license</a>. <u>Citation</u>: Zhao M., Havrilla J. M., Fang L., Chen Y., Peng J., Liu C., Wu C., Sarmady M., Botas P., Isla J., Lyon G., Weng C., Wang K. (2020). Phen2Gene: Rapid Phenotype-Driven Gene Prioritization for Rare Diseases. NAR Genomics and Bioinformatics, 2(2), lqaa032. doi:10.1093/nargab/lqaa032.</li>
    <li id="clinical-cite">ClinicalTrials.gov. This is public domain, courtesy of the U.S. National Library of Medicine.</li>
    <li id="pubmed-cite">The PubMed database. This is public domain. <u>Citation</u>: Sayers E. The E-utilities In-Depth: Parameters, Syntax and More. 2009 May 29 [Updated 2018 Oct 24]. In: Entrez Programming Utilities Help [Internet]. Bethesda (MD): National Center for Biotechnology Information (US); 2010-. Available from: https://www.ncbi.nlm.nih.gov/books/NBK25499/.</li>
    </ol>
</div>
<br>

<div class="container" >

	<!-- error/warning messages -->
	<div>
		<ul id="error-messages" role="alert">
			{% for e in errors %}
			<li>{{ e }}</li>
			{% endfor %}
		</ul>
	</div>

	<!-- make error/warning messages yellow if any exist -->
	<script type="text/javascript">
		$("#error-messages").each(function() {
			if($(this).children().length > 0) {
				$(this).addClass("alert alert-warning");
			}
		});
	</script>

</div>


{% endblock %}

{% block scripts %}
<!-- make nice table with multiple pages -->
<script type="text/javascript">
	$(document).ready(function () {
		var json = {{ json | tojson }};
		var note = {{ note | tojson }};
		console.log(json);
		console.log(note);
		highlight(note,json);
	  	//$('#results-table1, #results-table2OMIM, #results-table2D, #results-table2OR, #results-table3, #results-gene-api, #results-umls, #results-snomed, #results-drugs').DataTable({
	  	$('#doc2hpo-results, #phen2gene-api').DataTable({
	  		"order": [[ 1, "asc" ]],
	  		"pageLength": 5,
	  		"lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
	  	});
	  	$('#clinical-results').DataTable({
	  		"order": [[ 0, "asc" ]],
	  		"pageLength": 5,
	  		"lengthMenu": [[5, 20, 50, -1], [5, 20, 50, "All"]]
	  	});
	});

$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top - 50
      }, 800);
    }
  });
});

$(document).ready(function(){
 $('li a').click(function(){
   $('li a').removeClass('active');
   $(this).addClass('active');
 });
});

$(window).on('scroll', function() {
    $('.container.medium').each(function() {
        if($(window).scrollTop() >= $(this).offset().top - $("#navbarcon").height()){
            var id = $(this).attr('id');
            $('li a').removeClass('active');
            $('li a[href="#'+ id +'"]').addClass('active');
        }
    });
});
</script>
{% endblock %}
