{% extends "layout.html" %}

{% block content %}

<head>
    <!--tag menus-->
    <script src="static/js/tagsinput.js" crossorigin="anonymous"></script>

<style>
h1 {
  display: inline;
  margin-bottom: 1em;
  text-align: left;
  color: #efa50e;
  font-size: 35px;
}
table {
  table-layout: auto;
  width: 100%
}
table, th, td {
  border: 2px #4b873f;
  border-collapse: collapse;
}
th {
  padding: 2px;
  text-align: center;
}
.navbar-dark .nav-item > a.active {
  color:black;
  background-color:white;
}
.navbar-nav {
  display:flex;
}
</style>
</head>

{% block nav %}
<div class="collapse navbar-collapse flex-column sticky-top bg-dark" id="navbarcon">
    <div class="flex-row" id="navbartop">
        <ul class="navbar-nav mr-auto small">
          <li class="nav-item active"><a class="page-scroll scroll active" href="#Patient_Terms">HPO terms</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Diseases">Diseases</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Genes">Genes</a></li>
        </ul>
    </div>
    <div class="flex-row" id="navbarbottom">
        <ul class="navbar-nav mr-auto small">
          <li class="nav-item"><a class="page-scroll scroll" href="#Clinical_Trials">Clinical Trials</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Literature">Literature</a></li>
          <li class="nav-item"><a class="page-scroll scroll" href="#Citations_n_Licenses">Citations & Licenses</a></li>
        </ul>
    </div>
</div>
</nav>

{% endblock %}

<div class="container" id="bar">

<h2 style="text-align: center; margin-top: 80px; font-family:'Roboto', sans-serif;"><i class="material-icons" style="vertical-align: bottom; font-size:38px;">assessment</i>Patient Results</h2>
<p style="text-align: center;">These are the linked results for the HPO terms derived from your patient notes. There will be explanations in each section. Note that you can hover over text with a dotted underline <a class="hasTooltip">to learn more about it<span>For example, like this!</span></a>.<br>The navbar at the top will track where you are and jump between sections so you can always go back to your point of interest.  If you'd like to go back and try some other notes, just click the PhenCards logo at the top.
<hr>
</div>

<div class="container medium" id="Patient_Terms">
    <h1><span style="color: #efa50e; "><b>HPO terms</b></span></h1>
        <br><br>
        <p>These are the Human Phenotype Ontology terms extracted from the patient note query.  Red indicates a <mark class='negated'>negated</mark> term, green indicates an <mark class='term'>accepted</mark> term.</p>
        <div class="box-highlight">
	<div class="ui basic segment">
		<p id="parsingResults" style="white-space: pre-wrap">Your highlighted patient notes will appear here shortly.</p>
	</div>
        </div>
    <tr><th><span style="color: black; ">Here are the aliases referenced from <a href="https://hpo.jax.org/app/">HPO database</a> using Doc2HPO<sup><a href="#doc2hpo-cite">1</a></sup>, you can click on the ID to explore more about the phenotype terms or search the names in the phenotype search function of this site to learn more still:</span></th></tr>
    <br><br>
    {% if HPOresults %}
        {% set url = "https://hpo.jax.org/app/browse/term/" %}
        <table id="patient_terms" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["HPOPatient"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in HPOresults %}
                <tr>
                    <td><a target="_blank" href={{ url ~ result }}>{{result}}</a></td>
                    <td> <a target="_blank" href={{ url_for('phencards', term=HPOresults[result]) }}>{{HPOresults[result]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the patient notes in Doc2HPO.
    {% endif %}
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Diseases">
    <h1><span style="color: #efa50e; "><b>Diseases</b></span></h1>
        <br><br>
    <tr><th><span style="color: black; ">These are the HPO-linked diseases for the extracted terms. They have been ranked by combined elasticsearch score. These are also available in the <a href="https://hpo.jax.org/app/">HPO database</a><sup><a href="#hpo-cite">2</a></sup>.</span></th></tr>
    <br><br>
    {% if linked_diseases %}
        {% set url = "https://hpo.jax.org/app/browse/search?navFilter=all&q=" %}
        <table id="linked_diseases" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["PatientDisease"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for disease in linked_diseases %}
                <tr>
                    <td><a target="_blank" href={{ url ~ disease.split(" ")|join("%20") }}>{{disease}}</a></td>
                    <td>{{  "%.2f"| format(linked_diseases[disease])}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No disease results for the extracted HPO terms.
    {% endif %}
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Genes">
    <h1><span style="color: #efa50e; "><b>Genes</b></span></h1>
    <br><br>
    <tr><th><span style="color: black; ">Here are the related genes referenced from <a target="_blank" href="https://phen2gene.wglab.org">the Phen2Gene web application</a><sup><a href="#p2g-cite">3</a></sup>. The gene symbol links out to MedlinePlus, courtesy of the National Library of Medicine.</span></th></tr>
<br>
{# gene list return 04/26/2020 #}
    {% if phen2gene %}
        {% set url = "https://medlineplus.gov/genetics/gene/" %}
        <table id="phen2gene" style="white-space: pre-line" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for heading in headers["P2G"] %}
                    <td><a class="hasTooltip">{{heading["term"]}}<span>{{heading["definition"]}}</span></a></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in phen2gene %}
                <tr>
                    <td><a target="_blank" href={{ url ~ result["Gene"] | lower }}>{{result["Gene"]}}</a></td>
                    <td>{{result["Rank"]}}</td>
                    <td>{{result["Score"]}}</td>
                    <td>{{result["Status"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results for the first ranked HPO term in Phen2Gene.
    {% endif %}
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Clinical_Trials">
    <h1><span style="color: #efa50e; "><b>Clinical Trials</b></span></h1>
    <br><br>
    <a target="_blank" id="nav-clinical" href="{{ url_for('generate_clinical_page') }}" style="font-size: 25px">ClinicalTrials.gov</a><sup><a href="#clinical-cite">3</a></sup>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Literature">
    <h1><span style="color: #efa50e; "><b>Literature</b></span></h1>
    <br><br>
    <tr><th><span style="color: black;"> Using this unique tool, you can search for related literature for your extracted HPO terms with great ease in <a target="_blank" href="https://scholar.google.com">Google Scholar</a>. The default search includes all the exact terms separated by ORs.  To increase specificity, remove the ORs (if you remove the ORs and use just the first 3 default terms you will get the paper we cited for the clinical notes). You can remove terms, move the cursor freely, add duplicate terms, and add the "AND" operator if you like by typing in the box.</span></th></tr>
    <br><br>
  <p>
    {% set tags = HPOnames|join(",OR,") %}
        <input type="text" id="tags" data-role="tagsinput" value="{{tags}}">
  </p>
    <button id="googlescholar" type="button" onclick="searchResult()" class="btn btn-primary"><i class="material-icons" style="font-size: 16px">send</i>Search Google Scholar</button>
</div>

<div class="container" id="bar">
<hr>
</div>

<div class="container medium" id="Citations_n_Licenses">
    <h1><span style="color: #efa50e; "><b>Citations & Licenses</b></span></h1>
    <br><br>
    <ol style="list-style-type: numeric">
    <li id="doc2hpo-cite">Doc2HPO natural language processing resource. This is <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>. <u>Citation</u>: Liu C., Peres Kury F. S., Li Z., Ta C., Wang K., & Weng C. (2019). Doc2Hpo: a web application for efficient and accurate HPO concept curation. Nucleic Acids Research, 47(W1), W566–W570. doi:10.1093/nar/gkz386.</li>
    <li id="hpo-cite">This service/product is using the Human Phenotype Ontology (hpo-obo@2020-08-11). Find out more at <a target="_blank" href="http://www.human-phenotype-ontology.org">the HPO website</a>. <u>Citation</u>: Sebastian Köhler, Leigh Carmody, Nicole Vasilevsky, Julius O B Jacobsen, et al. Expansion of the Human Phenotype Ontology (HPO) knowledge base and resources. Nucleic Acids Research. (2018) doi: 10.1093/nar/gky1105.  <img class="img-hpo" src="/static/img/hpo-logo-white.png" alt="HPO-logo" filter=invert(100%) height="50" width="150"></li>
    <li id="p2g-cite">Phen2Gene and the H2GKB resources. This is <a target="_blank" href="https://github.com/WGLab/Phen2Gene/blob/master/LICENSE">MIT license</a>. <u>Citation</u>: Zhao M., Havrilla J. M., Fang L., Chen Y., Peng J., Liu C., Wu C., Sarmady M., Botas P., Isla J., Lyon G., Weng C., Wang K. (2020). Phen2Gene: Rapid Phenotype-Driven Gene Prioritization for Rare Diseases. NAR Genomics and Bioinformatics, 2(2), lqaa032. doi:10.1093/nargab/lqaa032.</li>
    <li id="clinical-cite">ClinicalTrials.gov. This is public domain, courtesy of the U.S. National Library of Medicine.</li>
    <li id="pubmed-cite">The PubMed database. This is public domain. <u>Citation</u>: Sayers E. The E-utilities In-Depth: Parameters, Syntax and More. 2009 May 29 [Updated 2018 Oct 24]. In: Entrez Programming Utilities Help [Internet]. Bethesda (MD): National Center for Biotechnology Information (US); 2010-. Available from: https://www.ncbi.nlm.nih.gov/books/NBK25499/.</li>
    </ol>
</div>
<br>

<div class="container" >

	<!-- error/warning messages -->
	<div>
		<ul id="error-messages" role="alert">
			{% for e in errors %}
			<li>{{ e }}</li>
			{% endfor %}
		</ul>
	</div>

	<!-- make error/warning messages yellow if any exist -->
	<script type="text/javascript">
		$("#error-messages").each(function() {
			if($(this).children().length > 0) {
				$(this).addClass("alert alert-warning");
			}
		});
	</script>

</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // for highlighting patient notes
	$(document).ready(function () {
		var d2hjson = {{ d2hjson | tojson }};
		var note = {{ note | tojson }};
		highlight(note,d2hjson);
	});
</script>



<script type="text/javascript" src="{{ url_for('static', filename='js/style.js')}}">>
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/patienttables.js')}}">>
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/patientlit.js')}}">>
</script>

{% endblock %}
